<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="QA Automation Framework Suite" verbose="1">
    <test name="Login and Cart Regression">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
</suite>
